@import "../../style.scss";

.help-center {
  @include themify($themes) {
    flex: 2.5;
    background-color: themed("bgSoft");
    margin-top: -25px;
    padding: 20px 60px;
    text-align: justify;
    color: themed("textColor");
    

    @include mobile {
      padding: 20px 10px;
      margin-left: 0;
    }

    .help-center-card {
      background-color: themed("cardColor");
      padding: 20px;
      border: 1px solid themed("border");
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include mobile {
        overflow: hidden;
      }

      .card {
        display: flex;
        flex-direction: column;
        background-color: themed("bgSoft");
        padding: 10px;
        margin: 10px;
        border-radius: 7px;
        width: 200px;
        text-align: left;

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: "RubikMedium";
          margin-bottom: 10px;
          text-decoration: underline;
          line-height: 2rem;
          font-size: 16px;

          .icon {
            color: themed("textColor");
          }
        }

        .links {
          font-family: "RubikRegular";
          text-decoration: none;
          color: themed("textColor");
          margin-bottom: 10px;
        }

        .links:hover {
          text-decoration: underline;
          color: rgb(126, 127, 128);
        }
      }
    }
  }
}
