@import "../../style.scss";

.ad-details {
  @include themify($themes) {
    flex: 2;
    background-color: themed("bgSoft");
    margin-top: -25px;
    color: themed("textColor");
    margin-left: 280px;
    font-family: "RubikRegular";

    @include mobile {
      padding: 20px 10px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: themed("cardColor");
      padding: 20px;
      border: 1px solid themed("border");
      margin-bottom: 10px;

      .left {
        h2 {
          font-family: "RubikSemiBold";
          font-size: 18px;
        }
      }

      .right {

        .edit-btn {
          padding: 10px;
          color: #fff;
          background-color: themed("buttonBg");
          cursor: pointer;
          transition-duration: 0.3s;
          border-radius: 5px;
        }

        .edit-btn:hover {
          background-color: themed("buttonBgHover");
        }
      }
    }

    

    .ad-details-card {
      background-color: themed("cardColor");
      padding: 10px;
      overflow-y: scroll;
      height: max-content;
      border: 1px solid themed("border");

      &::-webkit-scrollbar {
        display: none;
      }

      .top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .ad-title {
          margin: 10px;
          font-size: 18px;
        }
      }

      
    }
  }
}
